.app{
    color:white;
    background-color: black;
    padding-bottom: 1vh;
    height: 1vh;
}
.app ul{
    padding-left: 0rem;
}



.App {
    text-align: center;
}

.urlList ul li{
    background-color: blue;
    list-style-type: none;
    margin:1vh;
    padding:1em;
    border-radius: 3px;
    word-wrap: break-word;
}
.card{
    border: none!important;
    padding: 0px 15px !important;
}

ul.card li {
    width: calc(33.33% - 20px);
    background-color: #f9f9f9;
    border: 1px solid #dbdbdb;
    margin: 0px 10px;
      margin-bottom: 0px;
    padding: 24px;
    display: inline-block;
    margin-bottom: 20px;
    max-height: 234px;
    overflow-y: scroll;
  }
  ul.card li {
        color:#000;
  }
  .name{
    color: #000;
    display: block;
    margin-bottom: 10px;
  }
  .card-btn button {
    background-color: #14a800;
    border: none;
    color: #fff;
    padding: 4px 14px;
    border-radius: 4px;
    margin-right: 14px;
  }
  .cardname {
    display: none;
  }
  .cardheading {
    font-size: 40px;
  display: block;
  line-height: normal;
  padding-bottom: 10px;
  }
  .cardsubheading {
    font-size: 22px;
    display: block;
    line-height: normal;
    padding-bottom: 10px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    ul.card li {
        width: calc(50% - 20px);
      }
  }
  @media only screen and (max-width: 767px) {
    ul.card li {
        width:100%;
        margin: 0;
        margin-bottom: 10px;
      }
      .App_cardheading__30i-a {
        font-size: 32px;
        padding-bottom: 6px;
      }
  }